{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">

<h1>404 Error !</h1>
<p class="zoom-area"><b>Hi</b>  That page is not available!! </p>
<section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
    <a href="/" class="more-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Go back to home</a>
</div>

<style>
    h1{
        text-align: center;
    }
    .error-container{
        text-align: center;
    }
    .link-container{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .container-fluid{
        background-color: #d0af84;
    }
</style>
</div>
{% endblock %}
